vendor
cmd/transform
cmd/datax/*.log
cmd/datax/run.*
cmd/datax/version.go
cmd/datax/tools/testData/config
cmd/datax/examples/**/*.csv
datax/plugin/plugin.go
datax/plugin/reader/**/plugin.go
datax/plugin/writer/**/plugin.go
datax/plugin_test.go
datax/plugin.go
release
*.txt
*.out
*.exe
release/*
*.zip
*.tar.gz
*.chn
*.en

*.swp
tags
